<!DOCTYPE html>
{% load staticfiles %}
<html>
	<head>
	    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link rel="stylesheet" href="{% static 'css/mns.css' %}" type="text/css">
	</head>
	<body>
		<div id = "head">
			<img id = "ic" src="{% static 'images/triangle.png' %}" />
			<span id = "headh">Сайт-резюме программиста</span>
		</div>
		<svg id="svgm" onclick="return Menu()">
			<line id="l1" x1="0" y1="10" x2="40" y2="10" stroke="#000" />
			<line id="l2" x1="0" y1="24" x2="40" y2="24" stroke="#000" />
			<line id="l3" x1="0" y1="38" x2="40" y2="38" stroke="#000" />
		</svg>
		<div id = "menu">
			<p id = "mp">Список страниц</p>
			<a class = "a1" href = "/article1">Статья про простую нейросеть</a>
			<br/><hr/>
			<a class = "a1" href = "/article2">Моя статья о бизнесе</a>
			<br/><hr/>
			<a class = "a1" href = "/javascript2">Математический марафон</a>
			<br/><hr/>
			<a class = "a1" href = "/forum">Форум</a>
			<br/><hr/>
			<a class = "a1" href = "/javascript1">JavascriptGame1</a>
		</div>
		<div id="bl0" style="background-image: url({% static 'images/progf.png' %});">
			<div id="bl1">
				<img id = "I19" src="{% static 'images/I19.jpg' %}" />
				<h3>Махачев Тимур Алавдинович</h3>
				<p><span class="asd">web-разработчик</span>
				
				<span class="asd">Дата рождения:  </span> 24 июля 2000г (19 лет)
				
				<span class="asd">Место жительства:  </span> г. Махачкала
				
				<span class="asd">О себе и своих навыках:  </span> знаю основы full-stuck web-разработки (html, css, javascript, python(django)). Хочу активно развиваться и применять знания на благо вам в качестве полноценного сотрудника или стажера. Готов в кратчайшие сроки выучить php, изучить wordpress и любые другие технологии, которые используются вашим предприятием. Имею интерес к созданию чат-ботов для telegram (создавал простых), созданию программ и приложений на python, хотел бы попробовать себя в качестве копирайтера (умею писать тексты, знаком с основами seo-копирайтинга), интересен маркетинг и многое другое. Уверен, что буду достаточно старателен и смогу соответствовать вашим требованиям.
				
				<span class="asd">Образование и опыт работы:  </span> учился один год в Московском техническом университете связи и информатики на направлении "Фундаментальная информатика" и не смог продолжить обучение (освоил Visual Basшс и немного Visual С++, но не придаю этому значения). Опыта работы не имею.
				</p>
			</div>
		</div>
		<div id = "bl2">
			<span class="asd">Мои базовые навыки web-разработки продемонстрированы при создании данного сайта. Ниже следует описание его страниц и ссылки на них.</span>
			<br/><br/><br/>
			<div id = "bl3">
				<p>
					<a class = "a2" href = "/article1">Статья про простую нейросеть</a>
					<br/><br/>
					Здесь я создал стандартную страницу для статьи (статья написана не мной и взята из приложения-учебника по python.)
				</p>
			</div>
			<div id = "bl3">
				<p>
					<a class = "a2" href = "/article2">Моя статья о бизнесе</a>
					<br/><br/>
					На этой странице я поместил написанную мной статью на тему: "Мое понимание современного бизнеса и немного о Махачкале.". Над дизайном страницы я не работал, но планирую улучшить его в будущем.
				</p>
			</div>
			<div id = "bl3">
				<p>
					<a class = "a2" href = "/javascript2">Математический марафон</a>
					<br/><br/>
					А это написанная мной несложная игра, где нужно решать примеры на скорость.
				</p>
			</div>
			<div id = "bl3">
				<p>
					<a class = "a2" href = "/forum">Форум</a>
					<br/><br/>
					Также я сделал простое подобие форума без разграничения доступа. В будущем я его модернизирую.
				</p>
			</div>
		</div>
		<div id = "footer">
			<div id = "foot2">
				<img class = "pp1" src="{% static 'images/phone.png' %}" />&nbsp &nbsp
				<span>Номер телефона: +79964208875</span>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
				<img class = "pp1" src="{% static 'images/telegram.png' %}" />&nbsp &nbsp
				<span>Telegramm: +79855582915</span>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
				<img class = "pp1" src="{% static 'images/gmail.png' %}" />&nbsp &nbsp
				<span>Электронная почта: uroboros7279@gmail.com</span>
			</div>
		</div>
		<script>
			var s = 0;
			var l1 = document.getElementById('l1');
			var l2 = document.getElementById('l2');
			var l3 = document.getElementById('l3');
			var menu = document.getElementById('menu');
			var al = 0;
			var bl = 0;
			var opc = 0;
			function Menu()
			{
				if (s == 0) {
					l2.style.display = "none";
					al = 10;
					bl = 38;
					t = setInterval(move, 1000 / 45);
					menu.style.display = "inline";
					menu.style.opacity = 0;
					function move() {
						l1.setAttribute("y2", al);
						l3.setAttribute("y2", bl);
						al += 1;
						bl -= 1;
						opc += 0.034;
						menu.style.opacity = opc;
						if (al == 38 && bl == 10) {
							clearInterval(t);
							opc = 0;
						}
					}
					s = 1;
				}
				else {
					clearInterval(t);
					l2.style.display = "inline";
					l1.setAttribute("y2", 10);
					l3.setAttribute("y2", 38);
					s = 0;
					menu.style.display = "none";
				}
			}
		</script>
	</body>
</html>